// Customizations Here (Optional)
// $warning: yellow;
// $input-shadow: none;
// $input-border-color: none;
$input-hover-color: none;
$input-radius: 2px;
$button-border-color: none;
// Bulma Import
@import '~bulma';
